h1{
    text-align: center;
    background-color:blue;
    color: white;
    padding: 75x;
    border-radius: 60px/15px;
}
h2{
    color:aliceblue;

}
h3{
    color:aliceblue;
    
}
body{
    background-color: lightslategrey;
}

div{
    background-color: grey;
    border-radius: 10px/15px;
    border-color: black;
}

input{
    height: 30px;
    margin: 5px;
    text-align: center;

}

button{
    background: white;
    padding:0.5em 1em;
    font-weight: bold;

}

button:hover {
    height: 40px;
    background: lightslategray;
}

.card{
    border-radius: 4px;
    box-shadow: 5px 5px 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 1em;
    padding: 10px;
  }

  .display{
      background-color: brown;
      text-align: center;
      padding: 30px;
  }